# Required
LANGSMITH_API_KEY=your-langsmith-key
LANGSMITH_PROJECT=your-project-name
# OpenAI or OpenAI Compatible key and url
OPENAI_COMPAT_API_KEY=your-openai-key
OPENAI_COMPAT_BASE_URL=https://api.openai.com/v1

# Optional (for vector storage)
CHROMA_HOST=api.trychroma.com
CHROMA_TENANT=your-tenant
CHROMA_DATABASE=your-database
CHROMA_TOKEN=your-token

# Optional
LOG_LEVEL=INFO  # DEBUG, WARNING, ERROR